<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>用户展示</h1>
    <table border="1">
        <tr>
            <th>
                用户名
            </th>
            <th>
                年龄
            </th>
        </tr>
        {% for user in users %}
            <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.age }}</td>
            </tr>
        {% endfor %}
    </table>
    <a href="http://127.0.0.1:8000/taopiaopiao/"> 点击进入小电影社团</a>

</body>
</html>